<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="navbar">
        <h2>DinoCab!</h2>
        <div class="right">
            <a href="/">Home</a>
            <a href="/cabs">DinoCabs Near You</a>
        </div>
    </div>
    <div class="main">