<%- include('header') %>
<h1>Log in into DinoCab!</h1>
<p>Don't worry, we won't eat you!<br>We just ask you for an username :3<br>Happy <i>rawr</i>ing!</p>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <button type="submit">Log in</button>
</form>
<%- include('footer') %>